/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background-color: #0f172a;
  color: #e2e8f0;
  line-height: 1.8;
  margin: 0;
}
section {
  max-width: 900px;
  margin: 60px auto;
  padding: 0 20px;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  border-left: 4px solid #38bdf8;
  padding-left: 10px;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #0f172a, #1e293b);
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  color: #94a3b8;
}
.hero h1 {
  background: linear-gradient(90deg, #38bdf8, #0ea5e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section {
  max-width: 1000px;
  margin: 80px auto;
  padding: 0 25px;
}

#about ul {
  margin-top: 20px;
}

#about li {
  margin-bottom: 12px;
  color: #cbd5e1;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #38bdf8;
}

ul {
  list-style: none;
  padding: 0;
}

#skills ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

#skills li {
  background: #1e293b;
  padding: 15px;
  border-radius: 12px;
  font-size: 14px;
  transition: 0.3s ease;
}

#skills li:hover {
  background: #0ea5e9;
  color: #0f172a;
  transform: translateY(-5px);
}

.project-card, .course-card {
  background: #1e293b;
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 15px;
  transition: 0.3s ease;
}

.project-card:hover, .course-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.4);
}
.project-card img {
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

a {
  color: #38bdf8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* Responsive for mobile */
@media (max-width: 768px) {
  header.hero h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .project-card, .course-card {
    width: 90%;
    padding: 15px;
  }

  ul {
    font-size: 0.9rem;
  }
}
.navbar {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 20px;
  background: rgba(15,23,42,0.9);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
}

.navbar a {
  color: #94a3b8;
  font-weight: 500;
  transition: 0.3s;
}

.navbar a:hover {
  color: #38bdf8;
}
.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;      /* يخليها دائرية */
  object-fit: cover;       /* باش متتشوهش */
  margin-bottom: 20px;
  border: 3px solid #38bdf8;
}
section {
  border-bottom: 1px solid rgba(255,255,255,0.05);
  padding-bottom: 60px;
}
section {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s ease;
}

section.show {
  opacity: 1;
  transform: translateY(0);
}
